/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto-regular, sans-serif;
  
}
/* ----------HOMEPAGE ----------*/
#homepage {
  background-color: #ECFEFF;
  width:100%;
  height: 100%;

}

/* ----------NAVBAR ----------*/
.welcome{
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.fullLogo{
  display: flex;
  justify-content: center;
  background-color: #ECFEFF;
  margin-top: 85px;;
}

.fullLogo img{
  width: 100%;
}

.logo{
  display: flex;
  align-items: left;
  justify-content: left;
}

.logotitle{
  display: flex;
  align-items: left;
  margin-left: 0px;
}

.logotitle img{
  height: 20px;

}

.logo img {
  height: 60px;  /*Adjust the height as needed  */
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;


}

.tagline{
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 15px
}

#navbar {
  display: flex;
  /* justify-content: space-between; */

  align-items: center;
  background-color: #2087cb; /* You can change the background color as needed */
  padding: 20px 50px;
  position: fixed;
  top: 0;
  left: 0; /* Ensure the navbar touches the left edge */
  right: 0; /* Ensure the navbar touches the right edge */
  width: 100%;
  box-sizing: border-box;
  z-index: 1000; /* Ensures the navbar stays on top */
  height: 90px;
}


/* 
.nav-container {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
} */

.rightside{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: right;
}

.nav-links {
  display: flex;
  gap: 20px;
  margin-left: 40px;

}

.nav-links a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 7px;

}

.nav-links a:hover {
  background-color: #e1e1e1; /* Change the hover color as needed */
  border-radius: 4px;
}

.auth-button button {
  background-color: #efefef; /* Change the button color as needed */
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  /* display: flex;
  justify-content: right; */
}
.auth-button button:hover {
  background-color: #cacaca;
}

#header {
  margin-top: 60px; /* Adjust if needed to account for the fixed navbar height */
  padding: 20px;
}

/* ----------LOGIN PAGE ----------*/
.entirepage{
  position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
  background-color: hsl(0, 0%, 94%);

}

#loginform {
  background-color: #fcfcfc;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  padding: 60px;
  box-shadow: 0 0 10px rgba(56, 56, 56, 0.1);
  margin-top: 150px;
}

.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;

}

.title {
  margin-bottom: 40px;
  
}

.formGroup {
  margin-bottom: 15px;
}

#username {
  width: 250px;
  background-color: #DFE5F6;
  border-radius: 5px;
  border: none;
  padding: 15px;
}

#password {
  width: 250px;
  background-color: #DFE5F6;
  border-radius: 5px;
  border: none;
  padding: 15px;
}

.account {
  margin-top: 40px;
  margin-bottom: 5px;
}

/* ----------SIGNUP PAGE ----------*/
.signup {
  margin-top: 5px;
  text-decoration: none;
  color: #343940; /* Adjust color as needed */
  font-size: small;
  border: 1px solid #5d6a7c;
  padding: 5px;
  border-radius: 5px;
}

.signup:hover{
  color: #1F87CA;
  border: 1px solid #1F87CA;

}

.submit button{
  margin-top: 10px;
  background-color: #5d6a7c; /* Change the button color as needed */
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  width: 250px;
}

.submit button:hover {
  background-color: #1F87CA; /* Change the button color as needed */
}

/* ----------METRIC PAGES----------*/
#page{
  width:100%;
  position:absolute;
  top:75px;
  display: flex;
  /* height should ideally based on media query */
  height: 800px;
  background-color:  hsl(210, 5%, 93%);

}

/* ----------SIDEBAR ----------*/
/*sidebar css begins*/
/* Links inside the sidebar */
.sidebar{
  background-color:  hsl(210, 50%, 97%);

  min-width:20%;
  display: flex;
  justify-content: center;
}
.sidebarMenu {
  overflow: hidden;
  font-family: Arial;
  display:flex;
  flex-direction: column;
  width: 75%;
  margin-top: 50px;

}
.sidebarMenu a {
  float: left;
  font-size: 16px;
  color: rgb(38, 38, 38);
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 10px;
}
/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
  background-color: none;
  position: relative;
  border-radius: 10px;


}
/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  padding: 14px 16px;
  border-radius: 10px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a  background color to navbar links on hover */
.sidebarMenu a:hover, .dropdown:hover .dropbtn {
  background-color: #1F87CA;
  color: white;
  width: 100%;
  text-align: left;

}
/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a{
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgb(217, 148, 229);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


/* ----------DASHBOARD ----------*/
.dashboard{
  /* background-color:  hsl(209, 63%, 81%); */
 
  width:85%;
  margin:20px;
  padding: 20px;
  /* border-radius: 50px; */
  border-width:0.5px;
  /* overflow-y: auto; */
}
/* .dashboard-title h1{
margin-bottom:20px;
} */
.dashboard h2, h4{
  color: hsl(0, 0%, 31%);
  margin-bottom: 10px;
  font-weight: bolder;
}
.dashboard-title {
  
  display: flex;
  align-content: end;
  }
.dashboard-title h1{
  color: hsl(0, 0%, 20%);

 margin-right: 20px;
  }
  .dashboard-title h3{
    color: hsl(0, 0%, 31%);

    margin-top: 12px;
  }
.widget-container{
  display: grid;
  grid-template-columns:  1fr 1fr 1fr;
  gap: 20px;
  margin: 10px 0;
  margin-bottom: 20px ;
}
.widget{
  display:flex;
  flex-direction:column;
  /* justify-content: space-around; */
  padding:15px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: hsl(0, 0%, 100%);
  height: 150px;
  border-radius: 10px;
  box-shadow: 0 2px 6px 0 hsla(0,0%,0%,0.2);

}
.clustit{
  display: flex;
  justify-content: center;
  color: rgb(36, 36, 36);
  margin-top: 150px;
}
.nodes-div{
  border-radius: 10px;
  background-color: hsl(0, 0%, 100%);
  padding:15px;
  padding-bottom: 50px ;
  box-shadow: 0 2px 6px 0 hsla(0,0%,0%,0.2);
 
}
.node-container{
  display: flex;
  flex-wrap: wrap;

  /* gap: 20px; */
  /* margin: 20px 0; */
  /* margin-bottom: 100px ; */
  margin-top: 50px ;
 
}

#cluster-area{
  width: 100%;
  margin-top:50px;
  display:flex;
  justify-content: center;
 
}
.cluster-circle, .node-circle{
  background-color:  #e8f5ee;
  margin: 0 auto;
  border: 3px solid #31a870;
  box-shadow: 0 2px 6px 0 hsla(0,0%,0%,0.2);
  color: hsl(0, 0%, 25%) ;
  font-size: large;

}
.cluster-circle:hover, .node-circle:hover{
  background-color:  #31a870;
}
.cluster-circle{
  width: 300px;
  height: 300px;
  border-radius: 150px;
}
.node-circle{
  width: 200px;
  height: 200px;
  border-radius:100px;
  margin-bottom: 20px;;
}
#graph-area{
  width: 100%;
  display:flex;
  justify-content: space-around;
}
#graphs{
  width: 50%
}
canvas {width:600px; }


